.container {
  margin-top: 4em;
  }

.perfil{
  margin: 6% auto;
  position: fixed;
}

/* responsive */

@media(max-width: 1024px) {

  .row{
    display: flex;
    flex-direction: column;
  }
  .col-4{
    width: 100%;
  }
  .perfil {
    position: relative;
  }
}

@media(max-width: 768px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .col-4{
    width: 100%;
  }
  .perfil {
    position: relative;
  }
}

