<div class="head container animate__animated animate__fadeInUp">
  <div class="contenedor-contenido">
    <div class="subcontendor-contenido">
      <!-- container welcome -->
        <div class="columna-img">
            <img src="https://images.pexels.com/photos/7583935/pexels-photo-7583935.jpeg" alt="">
        </div>
        <!-- cantainer text -->
        <div class="contenido-acerca">
            <h1 class="text-center"> {{ titulo | uppercase }} </h1>
            <h5>Adquiere nuevas habilidades que te permitiran crecer!</h5>
            <h5>Es una plataforma en la cual podrás encontrar cursos y certificaciones que te permitirán crecer en tu área de trabajo así como desarrollar nuevas habilidades personales y laborales</h5>
            <!-- link courses -->
            <h1 class="curso"
                routerLink="courses">Conoce más</h1>
        </div>
    </div>
</div>

<!-- courses -->
<pages-courses></pages-courses>
